# Copy this file to .env and adjust values
# MongoDB connection string
MONGODB_URI="mongodb+srv://okeroedward:okeroedward@resellers.p1dipx2.mongodb.net/resellers"

# Used to sign session cookies (use a long random string in real deployment)
SESSION_SECRET="change_this_to_a_long_random_secret"

# Base URL for your application
# For local development:
NEXT_PUBLIC_BASE_URL="https://bombous-keeley-isopentyl.ngrok-free.dev"
# For production deployment:
# NEXT_PUBLIC_BASE_URL="https://your-domain.com"

# Paystack Payment Configuration
PAYSTACK_SECRET_KEY="sk_test_ad3ac47205d9d8631f936f4ffb733c987fd824a2"
PAYSTACK_PUBLIC_KEY="pk_test_afd9d8007310d8b197061be88fb8db9e0c8c736b"
PAYSTACK_CALLBACK_URL="https://chainless-unalgebraical-mistie.ngrok-free.dev"
PAYSTACK_WEBHOOK_URL="https://chainless-unalgebraical-mistie.ngrok-free.dev"
PAYSTACK_WEBHOOK_SECRET="paystack_webhook_secret"

